<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html><body><p>#wp-admin-bar-et-use-visual-builder a:before { font-family: 'ETmodules' !important; content: "\e625"; font-size: 30px !important; width: 28px; margin-top: -3px; color: #974df3 !important; }
#wp-admin-bar-et-use-visual-builder:hover a:before { color: #fff !important; }
#wp-admin-bar-et-use-visual-builder a:hover,
#wp-admin-bar-et-use-visual-builder:hover a { transition: background-color .5s ease; -webkit-transition: background-color .5s ease; -moz-transition: background-color .5s ease; background-color: #7e3bd0 !important; color: #fff !important; }</p></body></html>
